<span
  class="content flex align-content-center justify-content-center flex-wrap"
>
  <p-card header="Login">
    <form class="pl-5 pr-5" [formGroup]="form" (ngSubmit)="login()">
      <div class="p-field mb-4">
        <label for="username" class="block">Username</label>
        <input
          formControlName="username"
          id="username"
          type="text"
          pInputText
        />
      </div>
      <div class="p-field mb-4">
        <label for="password" class="block">Password</label>
        <p-password formControlName="password" [feedback]="false"></p-password>
      </div>
      <p-toast></p-toast>
      <p-button label="Submit" pRipple type="submit"></p-button>
    </form>
  </p-card>
</span>
